.background-grey {
  background: #e6e6e6;
  width: 100%; }

.relative {
  text-align: center;
  width: 24%;
  font-size: 17px; }

.container-icons .circlePlusImg {
  height: 100px;
  background-image: url("./images/Oval12.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-icons div h3 {
  font-size: 20px; }

.container-icons div p {
  color: gray;
  line-height: 1.5; }

.container-icons div .blue {
  line-height: 2.5;
  color: #3399ff; }

@media (min-width: 320px) and (max-width: 800px) {
  .container-icons {
    display: inline-block; }
    .container-icons .relative {
      margin: 40px;
      text-align: center;
      width: 100%; } }
