@import 'variables.scss';

.left{
  float: left;
}

.header{
  color: white;
  margin: auto;

.header-top{
  text-align: center;
  font-size: $smallFont;
    .firstBtn{
      background: white;
      font-size: $smallFont;
      color: orange;
      border-style: solid;
      border-color: orange;
      clear: both;
    }

    p{
      float: right;
    }
    img{
      clear: both;
    }

}
.medium-header{
  .ticks{
    div{
    padding-right: 8px;
    font-size: $smallFont;
    }
  }
}

.secondBtn{
  background: #39f;
  color: #fff;
  margin: 0 1px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;

  img {
    margin-right: 10px;
  }
}

.secondBtn:hover {
  opacity: .8;
}

}

.header-secondRow{
  margin: auto;
  font-size: 10px;

}


.getCoute{
  background: orange;
  margin: auto;
}

.whiteContainer.hidden {
  height: 0px;
  padding: 0px;
}
.whiteContainer{
  clear: both;
  background: white;
  border-style: solid;
  border-color: $blue;
  padding: 20px;
  font-size: $smallFont;
  color: black;
  transition: all 0.5s;
  overflow: hidden;


    .arrows{
      background: black;
      border-radius: 15px;
      text-align: center;
    }
}

//RESPONSIVE

@media (min-width: 320px) and (max-width: 800px) {

.header-top{
  p{
    display: none;
     }
  .none{
    display: none;
  }
  img{
    margin: 0;
  }
  div{
    margin:0;
    padding-top: 5px;
  }
}
.header-secondRow{
  display: none;
}

.left{
    float: none;
    padding-bottom: 20px;
  }

  .whiteContainer{
    .firstRow{
      display: none;
    }
    .secondRow{
      text-align: center;
      div{
        margin: 5px;
      }
    }
    .thirdRow{
      display: none;
    }
  }
}
